.membres {
    padding: 4rem 2rem;
    background-color: #1e293b;
 
    text-align: center;
}

.membre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.membre-card {
    width: calc(25% - 1.125rem);
    background: #0f172a;
   
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px #00c6ff33;
}

.membre-card:hover,
.membre-card:active {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 198, 255, 0.2);
    background-color: #1a2a44;
   
}

.membre-card h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #00c6ff;
    
}

.membre-card p {
    margin: 0.5rem 0;
    color: #f1f5f9;
    
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}


@media (max-width: 1024px) {
    .membre-card {
        width: calc(33.333% - 1rem);
    }
}

@media (max-width: 768px) {
    .membre-card {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .membre-card {
        width: 100%;
    }
}